/* header */

/*.header {
  font-size: 18px;
  padding: 92px 24px 96px 24px;
}

.nav {
  display: flex;
  Flex-direction: row;
  justify-items: center;
  align-items: center;
}

.menu {
  padding: 0 36px 0 26px;
  white-space: nowrap;
}

.ul_nav {
  display: flex;
  gap: 34px;
}

.li_nav {
  list-style: circle;
}

.li_nav.link_home {
  list-style-type: none;
}

.link {
  color: #000;
}

.link.that_page {
  color: #000;
  text-decoration: none;
}

/* Навигация слева */

/*.logo {
}

.link_logo {
}

.logo_img {
  display: block;
  max-height: 136px;
  min-height: 105px;
}

/* Логотип */

/*.adress {
  margin-left: 184px;  
}

.ul_n {
  list-style-type: none;
  line-height: 24px;
  font-style: normal;
}

.li_n {
  
}

.number {
  color: #000;
}

.mail {
  color: #000;
}

.span_adress{
  color: #000;
}

/* Адрес */

/* Навигация слева */

.header {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  align-items: center;
  padding: 92px 24px 96px 24px;
  font-size: 18px;
}


.header__links-list {
  display: flex;
  justify-self: center;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link.header__link_active {
  text-decoration: none;
}

/* Навигация слева */

/* Логотип */

.header__logo {
  justify-self: center;
  align-self: center;
}

.link_logo {
  align-self: center;
  height: 136px;
}

.header__logo-image {
  display: flex;
  max-width: 136px;
  min-height: 105px;
}

/* Логотип */

/* Адрес */

.adress {
  justify-self: right;
  padding-right: 60px;
}

.header__address {
  font-style: normal;
  line-height: 24px;
  list-style-type: none;
}

/* Адрес */

/* header */

/*.cover {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  
}

.title {
  font-size: 100px;
  color: #fff;
}

.title_1 {
  text-align: left;
  padding: 165px 0 20px 50px;
}
.title_2 {
  text-align: center;
  padding-bottom: 20px;
}

.title_3 {
  text-align: right;
  padding: 0 50px 135px 0;
} */

/* cover */

/* Картинка с заголовком */

.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.cover_title {
  display: flex;
  flex-direction: column;
  min-height: 355px;
  padding: 165px 50px 0;
  text-transform: uppercase;
  z-index: 2;
}

.font_cover {
  font-size: 100px;
}

.cover__title_word-spacing {
  word-spacing: 6px;
}

.cover__title_letter-spacing {
  letter-spacing: 31px;
}

.aligned-text_center {
  text-align: center;
  padding-top: 10px;
  padding-right: 58px;
}

.aligned-text_right {
  text-align: right;
}

.cover__title_word-spacing_plus.aligned-text_right {
  word-spacing: 35px;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

/* Картинка с заголовком */

/* Подзаголовок */

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-bottom: 51px;
  word-spacing: 17px;
  text-transform: uppercase;
  z-index: 3;
  text-align: right;
}

.cover__description-text {
  padding-left: 75px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.cover__description-text-special_spacing {
  word-spacing: 14px;
}

.button {
  padding-right: 50px;
}

.bet-button {
  border-width: 1px;
  border-style: ridge;
  border-color: rgba(255, 255, 255, 0.8);
  padding: 12px 31px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
/* Подзаголовок */

/* cover */

/*.lots {
  display: inline-block;
  width: 1100px;
  height: 692px;
  padding: 179px 25px 146px;
}

.cards_title {
  width: 1052px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_subtitle {
  color: #fff;
  font-size: 22px;
  text-align: left;
  padding: 51px 40px 238px;
  text-transform: uppercase;
  text-decoration: underline;
}

.cards {
  width: 334px;
  height: 563px;
  margin: 25px;
  margin-right: 23px;
  margin-left: 0;
  background-position: center;
}

.first_card {
  display: inline-block;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.author_first {
  letter-spacing: ;
}

.second_card {
  display: inline-block;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third_card{
  display: inline-block;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 24px;
}

p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
  padding: 0 40px 40px;
}*/

/*.lots {
  display: inline-block;
  width: 1100px;
  height: 692px;
  padding: 179px 25px 146px;
}

.cards_title {
  width: 1052px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.magazin {
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 563px;
  margin: 25px;
  margin-right: 23px;
  margin-left: 0;
  padding: 51px 40px;
  background-position: center;
}


.card_subtitle {
  color: #fff;
  font-size: 22px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
}

p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
}

.first_card {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.second_card {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third_card{
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.see_more {
  width: 1052px;
  padding: 5px 146px 0px 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
}*/

/* Карточки */

.lots {
  display: inline-block;
  width: 1100px;
  height: 692px;
  padding: 179px 25px 146px;
}

.lots__heading {
  width: 1052px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
 display: flex;
 gap: 25px;
 padding-top: 25px;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 563px;
  margin-bottom: 25px;
  background-position: center;
}

.card__title {
  z-index: 3;
  padding: 48px 40px;
  padding-bottom: 0;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  align-self: center;
  width: 254px;
  padding-bottom: 49px;
  color: rgb(255 255 255 / 0.88);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__look-more-link {
  width: 1052px;
  padding: 5px 146px 0px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}

/* Карточки */

/* Об аукционе */

/*.about {
  width: 1100px;
}

.about_auction {
  display: flex;
  padding-top: 146px;
  height: 595px;
  justify-content: space-around;
  padding-left: 47px;
}

.logo_white {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  align-content: center;
  align-self: center;
}

.logo_img_white {
  width: 148px;
  height: 114px;
  align-items: center;
}

.about_text {
  width: 693px;
  height: 449px;
}

.subtitle_auction {
  font-size: 40px;
  text-transform: uppercase;
}

.p_about {
  color: #000;
}*/

/*.about {
  width: 1100px;
  height: 740px;
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-top: 146px;
}

.logo_white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000;
}

.logo_img_white {
  width: 148px;
  height: 114px;
}

.about_text {
  width: 704px;
  height: 449px;
  padding-left: 14px;
}

.subtitle_auction {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 100px;
  padding-top: 136px;
}

.p_about {
  color: #000;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
}

.p2 {
  padding-top: 24px;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
}*/

.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 595px;
  margin: 146px 0 0 0;
  padding: 35px 24px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 45px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 693px;
}

.about__title {
  padding-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 690px;
  padding-bottom: 0;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.indent {
  padding-top: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
/* Об аукционе */

/* Подвал */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.adress_footer {
  width: 240px;
}

.adress_footer_list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  list-style-type: none;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-link {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* Подвал */